@{
    ViewData["Title"] = "Резюме";
}
<style>
    .colortext {
        color: red;
    }
</style>

<table>
    <tr>
        <td><img src="~/img/594593430.jpeg"></td>
        <td valign="top">
            <h2>Умнов Станислав Сергеевич</h2>
            <p>Мужчина, 35 лет, родился 12 января 1985<br>
            Москва, <span class="colortext">м. Бабушкинская</span>, готов к переезду, готов к редким командировкам
        </td>
    </tr>
</table>

<div class="text-left">
    <h5>Желаемая должность:</h5>
    Разработчик C# Junior

    <p><h6>Сфера деятельности:</h6>
    <p>Информационные технологии, интернет, телеком<br>
    Программирование, Разработка

    <p><h6>Желаемая занятость:</h6>
    <p>Занятость: полная занятость<br>
    График работы: полный день
</div>

<div class="table">
    <h5>Опыт работы</h5>
    <table>
        <tr>
            <td>Сентябрь 2014 — по настоящее время</td>
            <td>
                <b>ЗАО РЕЛОД, Москва</b><br>
                <p>www.relod.ru<br>

                <p>
                    <b>Старший менеджер по закупкам</b><br>
                    - Расчет и размещение заказа поставщику;<br>
                    - Ввод/вывод товара в ассортиментную матрицу;<br>
                    - Выпуск груза на склад;<br>
                    - Ведение договорной работы с поставщиком;<br>
                    - Составление кассового плана на месяц/год;<br>
                    - Работа с первичной документацией;<br>
                    - Формирование прайс-листов;<br>
                    - Претензионная работа с поставщиками;<br>
                    - Контроль оплат и задолженностей.
                </p>

                Достижения:<br>
                Был принят на должность менеджера по закупкам в августе 2012 года по договору возмездного оказания услуг
                вместо сотрудника, ушедшего в декрет. К настоящему времени вырос до старшего менеджера по закупка, а так
                же разработал и внедрил внутри отдела собственные разработки (программное обеспечение) для упрощения и
                автоматизации некоторых процессов (формирование прайс-листов, автоматизированный поиск информации по
                товарам на сайтах).
            </td>
        </tr>
        <tr>
            <td>Июль 2010 — август 2012</td>
            <td>
                <b>ООО "Свет Эксперт"</b><br>
                <p>
                    <b>Торговый представитель</b><br>
                    - обеспечение плана продаж;<br>
                    - контроль товарных запасов магазина;<br>
                    - организация заказов от магазина, подготовка возвратов;<br>
                    - мониторинг ассортимента и цен;<br>
                    - увеличение доли полки товара;<br>
                    - увеличение товарооборота;<br>
                    - работа с браком и возвратами.
                </p>
            </td>
        </tr>
        <tr>
            <td>Октябрь 2009 — апрель 2010</td>
            <td>
                <b>ООО "Азбука Вкуса"</b><br>
                <p>
                    <b>Визуальный мерчандайзер</b><br>
                    - создание/корректировка планограмм;<br>
                    - оформление торгового зала в соответствии с инструкциями по визуальному маркетингу;<br>
                    - поддержка высокого уровня визуального маркетинга и порядка в торговом зале;<br>
                    - размещение новых коллекции товаров на витринах;<br>
                    - обучение продавцов основам визуального маркетинга и контроль уровня знаний у продавцов.
                </p>
            </td>
        </tr>
        <tr>
            <td>Март 2007 — июнь 2009</td>
            <td>
                <b>ООО "real,- Hypermarket", Москва</b><br>
                <p>
                    <b>Руководитель группы (Team Leader)</b><br>
                    - организация и контроль работы отдела;<br>
                    - управление товарным запасом;<br>
                    - организация и проведение инвентаризации;<br>
                    - обучение персонала;<br>
                    - работа с отчетами;<br>
                    - решение конфликтных ситуаций.
                </p>
                Достижения:<br>
                Начинал работать в компании с позиции «работник торгового зала», через год получил повышение 
                до ассистента руководителя, еще через полгода вырос до руководителя группы.
            </td>
        </tr>
    </table>

</div>

<div class="text-left">
    <h5>Ключевые навыки:</h5>
    C#<br>
    WPF<br>
    MS Visual Studio<br>
    Selenium<br>
    Базовые знания ASP.NET Core MVC, HTML, ООП, MS SQL<br>
</div>

<div class="text-left">
    <p><h5>Обо мне:</h5>
    <p>Программирование интересовало давно, но на практике стал применять в 2019 году, когда появилась необходимость обрабатывать прайс-листы с большим ассортиментом (около 150 тысяч наименований + дополнительная информация (цена, вес, размеры и прочее)). На обработку подобных массивов информации уходило до нескольких часов, поэтому начал искать способ автоматизировать процесс. Средством автоматизации был выбран C#, и после прохождения дополнительного обучения (на базе онлайн курсов itproger.com по направлению "Изучение C# от новичка до профи"), была написана программа, справляющаяся с поставленной задачей "одной кнопкой" за считанные секунды. Попутно, для удобства использования, научился создавать простые формы на WPF.<br>

    <p>Достигнутые результаты показались мне недостаточными и, т. к. компания активно участвовала в тендерах и была потребность регулярно получать информацию по большому количеству товаров с сайтов (по цене, доступности и другим характеристикам), я разработал парсеры для этих сайтов. Часть из них работает с использованием Selenium, часть - на чистом C#.<br>

    <p>Так же было написано несколько вспомогательных программ: одна для генерации кодов, вторая для сравнения списков авторов на повторы. Все проекты были объединены в единую программу с пользовательским интерфейсом.<br>
    <p>С работой можно ознакомиться по ссылке:<br>
    <a href="https://github.com/Bezumk1n/RELOD-Tools">https://github.com/Bezumk1n/RELOD-Tools</a>
<p>На достигнутом останавливаться не намерен и продолжаю развивать и улучшать свои навыки в программировании, но, на текущем месте работы нет своего IT отдела и нет возможности полностью реализовать себя в этой сфере.<br>
</div>

<div class="table">
    <h5>Высшее образование</h5>
    <table>
        <tr>
            <td>2008</td>
            <td>
                <b>Институт экономики, финансов и права</b><br>
                Менеджмент организации, Менеджер
            </td>
        </tr>
        <tr>
            <td>2003</td>
            <td>
                <b>Академия приборостроения и информатики</b><br>
                Бухгалтерский учет и аудит, Бухгалтер
            </td>
        </tr>
    </table>
</div>

<div class="text-left">
    <h5>Знание языков</h5>
    Русский — Родной<br>
    Английский — B2 — Upper-Intermediate
</div>

<div class="table">
    <p><h5>Повышение квалификации, курсы</h5>
    <table>
        <tr>
            <td>2020</td>
            <td>
                <b>udemy.com</b><br>
                Онлайн курсы, Программирование на C#: от новичка до специалиста
            </td>
        </tr>
        <tr>
            <td>2020</td>
            <td>
                <b>sqlbolt.com</b><br>
                Изучение основ SQL на интерактивных примерах
            </td>
        </tr>
        <tr>
            <td>2019</td>
            <td>
                <b>itproger.com</b><br>
                Онлайн курсы, Изучение C# от новичка до профи
            </td>
        </tr>
    </table>
</div>