@model List<WorksModel>
@{
    ViewData["Title"] = "My Works";
}

<h3>Мои работы</h3>
<table border="1">
    @foreach(WorksModel work in Model)
        {
            <tr>
                <td>@work.Work</td>
                <td>@work.ShortDescription</td>
                <td><a href=@work.Url>@work.Url</a></td>
            </tr>
        }
</table>

